<!DOCTYPE html>
<html lang="en">
	<head>
      <meta charset="UTF-8">
      <title>Login and Registration</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'login_reg/css/login_reg.css' %}"media="screen" title="no title"  charset="utf-8">

  </head>
  <body>
    <div id="top-section">
      <h1 id="header-text">Login - Django</h1>
    </div>
    <div id="login-container">
      <form id="registration-form" action='/login' method='post'>
        {% csrf_token %}
        <label class="form-label">
          Email Address: <input id="name-text" type="text" name="email" placeholder="enter your email">
        </label>

          <ul class="validation-error">
          {% for message in messages %}
            {% if 'email-error' in message.tags %}<li id="validation-text">{{ message }}</li>{% endif %}
          {% endfor %}
        </ul>

        <label class="form-label">
          Password: <input id="name-text" type="password" name="password" placeholder="enter your passsword">
        </label>

          <ul class="validation-error">
          {% for message in messages %}
            {% if 'password-error' in message.tags %}<li id="validation-text">{{ message }}</li>{% endif %}
          {% endfor %}
        </ul>
        
        <a id="new-user" href="/register">New User? Click Here to Register</a>
  
        <input id="submit-button" type="submit" value="Submit">
 
      </form>

    </div>


	</body>
</html>